@use "./variables.scss" as *;

@mixin width {
  max-width: 1200px;
  margin: auto;
}

@mixin screenSmall {
  @media only screen and (min-width: 560px) {
    @content;
  }
}

@mixin screenMedium {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin screenLarge {
  @media only screen and (min-width: 960px) {
    @content;
  }
}

@mixin screenExtraLarge {
  @media only screen and (min-width: 1500px) {
    @content;
  }
}

//Scroll
@mixin scroll {
  ::-webkit-scrollbar {
    width: 3px;
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, $body, $body-gradient);
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, $body, $body-gradient);
  }
}

//Texto
@mixin paragraph {
  font-family: $font;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: justify;
}

@mixin title {
  font-family: $font;
  font-size: 1.5rem;
}

@mixin bottom-to-top-animation {
  animation: 1s bottom-to-top-animation ease-in-out;
  animation-fill-mode: forwards;
  @keyframes bottom-to-top-animation {
    to {
      opacity: .9;
      transform: translateY(0);
    }
    from {
      opacity: 0;
      transform: translateY(20px);
    }
  }
}
