/* Fontes */
$font: "Comfortaa", cursive;
$font-semi-bold: 600;
$font-bold: 700;
$font-regular: 500;

$body: #2c2844;
$body-gradient: #1e1327;
/* Primarias */
$primary-200: #b9b5ca;
$primary-300: #9c97b5;
$primary-400: #8780a5;
$primary-500: #726a95;
$primary-800: #554d78;
$primary-900: #423c67;
$primary-rgba: #423c6721;

/* Secundarias */
$secondary-300: #9cbcc8;
$secondary-500: #719fb0;
$secondary-700: #5e8da0;
$secondary-900: #427287;
$secondary-rgba: #719fb05d;

/* Contrast */
$contrast: #a83665;
